* {
  box-sizing:boarder-box;
}

body {
   background: #DDD;
   color: #222;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 300;
}
@import url(https://fonts.googleapis.com/css?family=Noto+Sans%7CComfortaa:400,300,700);

#login-box {
 position: relative;
 margin: 5% auto;
 width: 600px;
 height: 400px;
 background: #FFF;
 border-radius: 2px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
